.editorconfig
.gitattributes
.gitignore
.husky/**
.lintstagedrc
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.*.json
**/tsconfig.json
biome.json
commitlint.config.js
compodoc/**
docs/**
out/test/**
src/**
vsc-extension-quickstart.md
yarn.lock
